<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Funcionários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="ion-justify-content-center" size="8">
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-item>
            <ion-label> {{ funcionario.CodFun }} </ion-label>
            <ion-label> {{ funcionario.Nome }} </ion-label>
            <ion-label> {{ funcionario.Sobrenome }} </ion-label>
            <ion-label> {{ funcionario.Cidade }} </ion-label>
            <ion-label> {{ funcionario.Fone }} </ion-label>
            <ion-button >Editar</ion-button>
            <ion-button (click)="removerFuncionario(funcionario.CodFun)">Remover</ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
